<!doctype html>
<html lang="en">

<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="Style.css">

    <meta charset="utf-8">

    <title> Music </title>

</head>

<body>
    <div class="left-back">
        <div class="left-menu">
            <ul class="forUl">
                <a href="#">
                    <li class="leftLi" data-toggle="tab" href="#admin"><i class="fa fa-user" style="margin-right: 20px;"></i> Admin</li>
                </a>
                <a href="#">
                    <li class="leftLi" data-toggle="tab" href="#create_artist"><i class="fa fa-star" style="margin-right: 20px;"></i> Create Artist</li>
                </a>
                <a href="#">
                    <li class="leftLi" data-toggle="tab" href="#artist_list"><i class="fa fa-list-ul" style="margin-right: 20px;"></i> View artists</li>
                </a>
                <a href="#">
                    <li class="leftLi" data-toggle="tab" href="#Users_list"><i class="fa fa-bars" style="margin-right: 20px;"></i> View users </li>
                </a>
            </ul>
        </div>
    </div>

    <div class="container header">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <p class="logoText">TSV</p>
            </div>
            <div class="col-md-3 col-md-offset-4" style="margin-top:20px;">
                <a class="AccountGmail"><i class="fa fa-user" style="color: #d18d16;margin-right: 20px;"></i>aaaaaaa@gmail.com <i class="fa fa-chevron-down" style="margin-left: 10px;" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container underHeader">
            <div class="row">
                <div class="col-md-4 ArtList">
                    <ul class="forUl2">
                        <li>
                            <p>User list</p>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bars fa-1" style="color: #212221;margin-top:30px;" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-th" style="color: #212221;" aria-hidden="true"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container main-contFull">
            <div class="row">
                <div class="col-md-12 main-cont">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date( Europe/Kiev)</th>
                                <th>Name <span class="caret"></span></th>
                                <th>Location City<span class="caret"></span></th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>04/01/18 10:53:23</td>
                                <td>Vasiliu Lomachenko </td>
                                <td>GB</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span ng-click="turnDark()" class="slider round"></span>
                                    </label>
                                </td>
                                <td><i class="fa fa-pencil faHov" aria-hidden="true"></i></td>
                                <td><i class="fa fa-eye faHov" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>04/01/18 10:53:23</td>
                                <td>DGI-TEST</td>
                                <td>GB</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span ng-click="turnDark()" class="slider round"></span>
                                    </label>
                                </td>
                                <td><i class="fa fa-pencil faHov" aria-hidden="true"></i></td>
                                <td><i class="fa fa-eye faHov" aria-hidden="true"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>